@charset "utf-8";

#afrikaburn-notification-settings input.form-text{
  min-width: 100%;
}

#afrikaburn-notification-settings .details-wrapper{
  display: flex;
}

#afrikaburn-notification-settings .settings-column{
  border: none;
  margin: 0;
  width: 50%;
}

#afrikaburn-notification-settings .settings-column:first-child{
  border-right: 1px solid #ddd;
}

#afrikaburn-notification-settings .form-type-checkbox{
  float: right;
  margin-top: 0;
}

#afrikaburn-notification-settings .filter-wrapper{
  display: none;
}

#afrikaburn-notification-settings .text-format-wrapper{
  margin: 0.5em 0 2em;
}