
.user-form .form-item{
  align-items: top;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  padding-bottom: 2em;
  position: relative;
}

@media (min-width: 600px) {

  .user-form .form-item *{
    flex-basis: 45%;
  }

}

.paragraphs-tabs-wrapper .form-item,
.paragraphs-tabs-wrapper .form-item *{
  flex-basis: 100%;
}

body .paragraphs-tabs-wrapper .form-item .description{
  height: auto;
  visibility: visible;
}


.user-form .form-item label{
  display: block;
  flex-basis: 100%;
}

.user-form .form-item .description{
  visibility: hidden;
  height: 0;
  margin: 0 0 0 10px;
}

.user-form .form-item-field-terms-and-conditions-value .description,
.user-form #field-links-add-more-wrapper td .description,
.user-form .form-item:hover .description{
  visibility: visible;
}

.user-form #field-links-add-more-wrapper .description{
  margin-top: 2em;
}

.user-form .form-item .description p{
  margin: 0 0 1em;
}

.user-form .form-item .description p:last-child{
  margin: 0;
}

.user-form .form-item label.error,
.user-form .form-item .form-item--error-message{
  background: #e8515733;
  flex-basis: 100%;
  order: 2;
  margin-top: 10px;
}

.user-form .form-item .error:before,
.user-form .form-item .form-item--error-message:before{
  background-image: url(/themes/afrikaburn/assets/images/afrikaburn-icons.png);
  background-repeat: no-repeat;
  background-position: left -40px top -50px;
  background-size: 200px;
  width: 24px;
  height: 20px;
}

.user-form .form-item .select-wrapper,
.user-form .form-item.form-type-checkbox *,
.user-form .form-item.form-type-radio *{
  min-width: auto;
  flex-basis: auto;
}

.user-form details summary{
  display: none;
}

.user-form h4.label{
  text-transform: none;
  font-size: 100%;
}

#edit-roles{
  display: flex;
  flex-wrap: wrap;
}

#edit-roles .form-item{
  flex-basis: 25%;
  min-width: 160px;
}

.captcha .details-description{
  display: none;
}

.field--name-field-links .tableresponsive-toggle-columns{
  display: none;
}

.field--name-field-links .form-type-url input,
.field--name-field-links .form-type-url .description{
  flex-basis: 100%;
}

.field--name-user-picture{
  margin-bottom: 1em;
}

#edit-pass .description{
  height: auto;
  visibility: visible;
}

#edit-pass .password-suggestions{
  border: none;
}

@media (min-width: 700px) {

  .user-form .field--name-user-picture{
    float: right;
    width: 50%;
  }

}

.user-form .field--name-field-date-of-birth .container-inline{
  display: flex;
  align-content: flex-start;
}

.user-form .field--name-field-date-of-birth .fieldset-wrapper{
  margin: 0;
}

.user-form .field--name-field-date-of-birth .container-inline .form-item,
.user-form .field--name-field-date-of-birth .container-inline .form-item *{
  min-width: auto;
  display: inline-block;
  width: auto;
  flex-basis: auto;
}

.user-form .container-inline label:after {
  content: '';
}