
article.profile .field{
  align-items: top;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  padding-bottom: 2em;
  position: relative;
}

article.profile .field *{
  flex-basis: 45%;
}

article.profile .field__item .field_label{
  display: block;
  flex-basis: 100%;
}

.user-form .form-item .select-wrapper,
.user-form .form-item.form-type-checkbox *,
.user-form .form-item.form-type-radio *{
  min-width: auto;
  flex-basis: auto;
}

@media (min-width: 600px) {

  article.profile .field--name-user-picture{
    float: right;
    width: 50%;
  }

}
