/* Colour experiment */

#main-content-strip div.container-2 {
  background: #FAD542;
}

#main-content-strip div.body-content {
  min-height: 100vh;
}

div.body-content{
  background: #FFEFD3;
  color: #333;
}
div.sidebar-outer.collectivebar .sidebar {
  background: #FDE6C2 !important;
  border: none;
  border-radius: 5px;
}

a,
a:hover,
a:visited {
  color: #394F32;
  text-decoration: none;
}

.biobar a.active,
.biobar a.active:hover,
.biobar a.active:visited {
  color: #DB4127;
}

.main-block a,
.main-block a:hover,
.main-block a:visited {
  color: #396F32;
  font-weight: bold;
}

.collectivebar a,
.collectivebar a:hover,
.collectivebar a:visited {
  font-weight: bold;
}

div.form-wrapper .form-item.form-type-radio label {
  color: #666;
}

div.body-content h1, div.body-content h2, div.body-content h3, div.body-content h4 {
  color: #111;
}

nav.pager .pager__items li.is-active a,
nav.pager .pager__items li a:hover {
  color: #ffefb6 !important;
}

body div.sidebar-outer.biobar .sidebar {
  background: #FCE1B7;
  border-radius: 5px;
  border: none;
}

html body div.sidebar {
  color: #222;
}

div.sidebar-outer div.sidebar h2 {
  color: #DB4127;
}

div.sidebar-outer div.sidebar .collapsible.collapsed h2 {
  color: #394F32;
}

div.sidebar-outer.collectivebar div.sidebar h2{
  line-height: 25px;
  height: 20px;
}

body .collapsible > h2{
  line-height: 120%;
}
.view-collective-members details[open] {
  background: #596F6244;
}
.view-collective-members details summary{
  background-color: #596F6299;
  width: 1.2em;
  height: 1.2em;
  border-radius: 15px;
  top: 15px;
  right: 10px;
  background-size: 1em;
}
.view-collective-members details[open] summary{
  background-color: #AF282E55;
}

body nav.pager {
  clear: both;
  margin: 15px 0 15px;
  padding: 10px 0;
  border: none;
  border-top: 1px solid #f26c5599;
}
nav.pager .pager__items li a {
  background-color: #596F6299;
}
body nav.pager .pager__items li a {
  background-size: 50px !important;
}
body nav.pager .pager__items li.pager__item--first a{
  background-position: 1px 1px;
}
body nav.pager .pager__items li.pager__item--previous a{
  background-position: 1px -32px;
}
body nav.pager .pager__items li.pager__item--next a{
  background-position: -32px -32px;
}
body nav.pager .pager__items li.pager__item--last a{
  background-position: -32px 1px;
}
nav.pager .pager__items li.is-active a, nav.pager .pager__items li a:hover {
  background-color: #96111699;
}


html body .collapsible > h2:after{
  background-color: #AF282E55;
  border-radius: 15px;
  width: 1em;
  height: 1em;
  background-position: center;
}
html body .collapsible.collapsed h2:after{
  background-color: #596F6299;
}
html body div.sidebar-outer.collectivebar div.sidebar .collapsible > h2:after{
  width: 20px;
  height: 20px;
}


.alert .flag-unread a,
.alert .flag-bookmark a {
  background-color: #AF282E55;
  border-radius: 15px;
  padding: 2.5px;
  background-position: center center;
  background-size: 20px;
}

div.body-content table,
div.body-content table * {
  border: none !important;
}

body .horizontal-tabs .horizontal-tabs-list li.selected,
div.sidebar .content ul > li {
  border-bottom: none;
}
.sidebar-outer.collectivebar .sidebar ul.horizontal-tabs-list li{
  border-color: #96111655;
}
.sidebar-outer.collectivebar .sidebar ul.horizontal-tabs-list li.selected{
  border-bottom: 3px solid #FDE6C2;
}

body .horizontal-tabs .horizontal-tabs-panes,
body .horizontal-tabs .horizontal-tabs-list li.selected {
  border-color: #96111655;
}
body .horizontal-tabs .horizontal-tabs-list li.selected{
  border-bottom: 3px solid #FFEFD3;
}
body .js-wizard .horizontal-tabs .horizontal-tabs-list li {
  background: #FCE1B7;
  border-color: #FCE1B7;
}
body .js-wizard .horizontal-tabs .horizontal-tabs-list li:after {
  border-left-color: #FCE1B7;
}
.js-wizard .horizontal-tabs .horizontal-tabs-list li.selected {
  border: 1px solid #f26c55;
}
body .horizontal-tabs .horizontal-tabs-list li.selected a {
  color: #DB4127;
  text-shadow: none;
}

#block-bioblock .content a:hover {
  background-color: #370c1311;
}

#block-bioblock .content a {
  padding-left: 25px;
}

.view-my-collectives .view-content .views-row:hover {
  background-color: #370c1309;
}

.view-alerts article.alert main .comment,
.view-collective-posts article.collective-post main .comment,
.view-collective-posts article.collective-post footer main .comment {
  background: #FFF9F0;
}
.view-alerts article.alert .horizontal-tabs .horizontal-tabs-list li.selected{
  border-bottom-color: #FFF9F0;
}

div.body-content table, div.body-content table{
  border-radius: 5px 5px 0 0;
  overflow: hidden
}
div.body-content table th {
  background-color: #596F62dd;
}

div.body-content .block .view-id-collective_projects table td.name > a {
  font-size: 100%;
  text-transform: none;
}

body div.body-content {
  color: #444 !important;
}

div.field div.field__item {
  padding-left: 2em;
  border-bottom: 1px solid #96111655;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #333;
}

body .view.view-my-collectives .button{
  border-color: #fff;
}

div.body-content table td {
  color: #333;
  background-color: #76192811;
}

body label {
  font-style: normal;
  color: #333;
}

.form-item span.field-suffix, .form-item .description {
  color: #666;
}

div.body-content table.field-multiple-table td {
  background-color: #76192833;
}
div.body-content table.field-multiple-table tr.even td {
  background-color: #22070b22;
}

.has-multiple-fields-remove-button
.multiple-fields-remove-button,
.has-multiple-fields-remove-button
.multiple-fields-remove-button:hover,
.has-multiple-fields-remove-button
.multiple-fields-remove-button:focus {
  position: absolute !important;
  right: 8px !important;
  top: 50% !important;
}

html body .view.view-my-collectives .button {
  border: none;
  padding: 6px 10px 5px;
  line-height: 100%;
  margin: 5px 1px 0 0;
}

#block-membersblock h2 span.alert {
  top: 0px;
  color: #fff;
  right: 20px;
}

button,
.button,
input.button,
div.body-content a.button,
div.body-content button,
div.input-file-wrapper,
input[type=submit],
input.button:focus {
  background-color: #596F6299;
}

div.body-content .block .view-id-collective_projects table td.name .flag-mute a {
  height: 20px;
  width: 20px;
  background-color: #596F6299;
  border-radius: 10px;
  background-size: 15px;
  background-position: center center;
}
div.body-content .block .view-id-collective_projects table td.name .flag-mute.action-unflag a {
  background-color: #96111655;
}

.collective-actions {
  background-color: #596F62dd;
}

.view-alerts .view-empty img{
  background: #AF282E55;
  border-radius: 5px;
}

.form-item input.error, .form-item textarea.error {
  background-color: #e8515733;
}

.form-item--error-message {
  background: #e8515799;
}

.form-item--error-message {
  color: #533;
}

/* scrollbars */

.block .content{
  scrollbar-color: #F18F08 transparent;
  scrollbar-width: thin;
}

.block .content::-webkit-scrollbar{
  width: 10px;
  background-image: linear-gradient(to right, transparent 30%, #F18F08, transparent 70%);
  border-radius: 5px;
  overflow: visible;
}

.block .content::-webkit-scrollbar-thumb{
  background-color: #F18F08;
  border-radius: 5px;
}


/* End colour experiment */


.view-community-projects .views-row{
  margin: 50px 0;
  padding-bottom: 30px;
}

.view-community-projects .views-field-field-prj-wtf-image img{
  width: auto;
}

body div.body-content {
  color: #ddd;
}

body div.sidebar {
  color: #ccc;
}

div.logo-container{
  width: 195px;
}
#wrapper div.logo-container img{
  width: 100%;
}

/*button,
.button,
input.button,
div.body-content a.button,
div.body-content button,
div.input-file-wrapper,
input[type=submit],
input.button:focus {
  background: #596F62;
}*/

div.body-content input[value=Delete]{
  background: #ff6F62;
}

/* a {
  color: #ffefb6;
  text-decoration: underline;
}
a:visited {
  color: #ffefb6;
}
a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
} */


/* column layout */


#block-ticketblock .button{
  padding: 0;
  width: 100%;
}

body.layout-both-bars .main-block{
  margin: 0 2.5%;
  width: 45%;
}

@media (max-width: 980px){
  body.layout-both-bars .main-block{
    width: auto;
    max-width: 610px;
    margin: auto;
  }
}

div.sidebar-outer.biobar .sidebar{
  padding: 0;
  width: 100%;
  border: none;
}

div.sidebar-outer.biobar .sidebar > .block{
  padding: 5px 10px;
  margin-bottom: 0;
}

div.sidebar-outer.biobar .sidebar > .block .content{
  margin-bottom: 20px;
}

div.sidebar-outer.collectivebar .sidebar{
  background: #FBD9A5;
  padding: 5px 0;
}

div.sidebar-outer.collectivebar .sidebar > .block{
  margin: 10px 10px 10px 15px;
  padding: 0;
}

.block-system-main-block{
  clear: both;
}

nav.tabs ul li a{
  background: none;
}

.collective-actions details section {
  color: #eee;
}

/* Warning messages */


.messages.messages--warning .messages__item{
  color: #A9905A !important;
}

/* -- collapsible -- */

div.collapsible,
div.collapsible.collapsed{
  background: none !important;
}

.collapsible > h2:after{
    background: url(../images/up.png) no-repeat;
    background-size: contain;
    color: transparent;
    content: ".";
    display: block;
    width: 1.5em;
    height: 1.5em;
    float: right;
}

.collapsible.collapsed h2:after{
  background-image: url(../images/down.png);
}


/* 10 June 2018 Collective menu */

.view-id-anouncements .views-field-edit-node{
  float: right;
  position: relative;
  z-index: 1000;
}

#block-my-collectives .view-content div{
  clear: both;
}

.view-collective-menu .view-content div:after{
  content: ".";
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}

.view-collective-menu .view-content .views-field-new-comments{
  display: inline-block;
  background: #450b14;
  border-radius: 1em;
  float: right;
  min-width: 2em;
  text-align: center;
}

/* 18 Oct 2017 - collective form */

.field--name-field-col-invitee table,
.field--name-field-col-invitee .description{
  float: left;
  margin-right: 20px;
  width: 40%;
}

form.node-collective-form details summary{
  color: #f26c55;
  padding: 9px 0 18px;
  cursor: pointer;
}

form.node-collective-form .clearfix{
  clear: both;
}

/* 11 Oct 2017 - scheepers */

.view-id-wrangler_registrations > .view-header {
  float: right;
}

/* Go live quilckfixes 23 Sept */

.view-display-id-my_collectives_block > .view-content{
  display: flex;
  flex-wrap: wrap;
}

.view-display-id-my_collectives_block .attachment-before{
  float: none !important;
}

.view-display-id-my_collectives_block .collective-row{
  flex-basis: 30%;
  width: auto;
}

body.path-frontpage .sidebar-outer{
/*  display: none; */
}

body.path-frontpage .main-block{
/*  max-width: none !important; */
}

.view-display-id-my_collectives_block .views-field-field-picture{
  float: none !important;
}

.field--name-field-grt-breakdown .paragraph-type-top {
   min-width: auto;
   width: 25px;
}
.field--name-field-grt-breakdown .paragraph-type-title {
   max-height: 0;
   min-width: auto;
}

.path-wranglers .body-content {
    width: 1300px;
    position: relative;
    left: -180px;
    background: #450b14;
}

.path-wranglers .main-block {
    max-width: 100%;
    width: 1300px;
}

.path-wranglers .details-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.path-wranglers .wrangler_ovr_1 {
    max-height: 240px;
    overflow: hidden;
    width: 20%;
}

.path-wranglers .wrangler_ovr_1,
.path-wranglers .wrangler_ovr_2,
.path-wranglers .wrangler_ovr_3,
.path-wranglers .wrangler_ovr_4,
.path-wranglers .wrangler_ovr_5 {
    max-width: 25%;
    width: 22%;
    padding: 7px;
}

.path-wranglers .wrangler_ovr_4 {
    width: 25%;
}

.path-wranglers .wrangler_ovr_1 .field__item {
    padding-left: 0em;
}

.path-wranglers .wrangler_ovr_4 .field--name-field-prj-adm-notes .field__item {
    max-height: 150px;
    height: 150px;
    overflow-y: scroll;
}

.path-wranglers .wrangler_ovr_5 .field__item {
    overflow-y: scroll;
    max-height: 213px;
    height: 213px;

}
.path-wranglers .views-row {
    display: flex;
}
.path-wranglers td.views-field-field-last-name {
    vertical-align: top;
    padding-top: 89px;
}
.path-wranglers div.body-content table td {
    background-color: transparent;
}

.page-node-type-art .node-art-edit-form .field--name-field-grt-breakdown,
.page-node-type-performances .field--name-field-grt-breakdown  {
    display: none;
}

.node-art-grant-form .field--name-field-grt-breakdown,
.node-performances-grant-form .field--name-field-grt-breakdown {
    display: block;
}



.paragraph.paragraph--type--grant-expences.paragraph--view-mode--default {
    display: flex;
}
.paragraph.paragraph--type--grant-expences.paragraph--view-mode--default .field__item {
    border-bottom: none;
    padding-left: 0;
    overflow-wrap: break-word;
}


#edit-field-date-of-birth-0 select {
    max-width: 150px;
}

.view-community-projects .views-field.views-field-field-prj-wtf-image {
    max-width: 220px;
    float: left;
    width: 100%;
    height: auto;
    padding-right: 12px;
}
.view-community-projects .views-row {
    min-height: 220px;
}
.view-community-projects .views-field.views-field-type,
.view-community-projects .views-label.views-label-field-prj-stg-type {
    font-weight: 800;
    font-size: 110%;
}
.view-community-projects .views-field.views-field-field-prj-stg-type {
    padding-top: 12px;
}
.view-community-projects .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-search.form-item-search {
    width: 600px;
}



.wrangler-view table td.views-field-field-prj-plc-location {
   word-wrap: break-word;
}
