@charset "utf-8";


.view-my-collectives{
  margin-bottom: 0;
}

.view-my-collectives .view-content div{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.view-my-collectives .view-content .views-row{
  margin: 10px 0;
}

.view-my-collectives .view-content .views-row a{
  display: block;
}

.view-my-collectives .view-content .views-field-field-picture{
  display: block;
  background: #450b14;
  border-radius: 12.5px;
  float: none;
  height: 25px;
  margin: 0 5px 0 0;
  overflow: hidden;
  padding: 0;
  width: 25px;
  min-width: 25px;
}

.view-my-collectives .view-content .views-field-new-comments{
  position: absolute;
  top: -5px;
  right: 0;
  width: 25px;
  min-width: 25px;
  text-align: center;
  text-shadow: 0 0 2px #000;
  font-weight: 900;
}

.view-my-collectives .view-content .views-field-new-comments a{
  display: block;
  height: 15px;
  line-height: 15px;
  background: #961116;
  border-radius: 10px;
  font-size: 80%;
}

.view-my-collectives .view-content .views-field-title{
  padding-top: 2.5px;
  width: 110px;
}
.view-my-collectives .view-content .views-row:hover{
  background-color: #370c13;
  border-radius: 15px 0 0 15px;
}

#block-views-block-my-collectives-invitations .button{
  font-size: 80%;
  width: 50%;
  padding: 5px 10px;
  line-height: 10px;
  margin: 5px 0 0;
  height: 20px;
  border-color: #000;
}
#block-views-block-my-collectives-invitations .button:first-child{
  border-radius: 15px 0 0 15px;
}
#block-views-block-my-collectives-invitations .button:last-child{
  border-radius: 0 15px 15px 0;
}

#block-views-block-my-collectives-invitations .views-field-nothing{
  justify-content: center;
  width: 100%;
}

#block-views-block-my-collectives-joined a.button{
  font-size: 80%;
  width: 100%;
  padding: 5px 0;
  line-height: 20px;
  margin: 20px 0 0;
  height: 30px;
}

/* Comments */

.view-collective-posts.view-display-id-posts{
  margin: 2em 0 1em;
}

.view-collective-posts article.collective-post{
  margin-bottom: 10px;
}

.view-collective-posts article.collective-post img{
  display: block;
}

.view-collective-posts article.collective-post main{
  display: flex;
}

.view-collective-posts article.collective-post main .image{
  min-width: 30px;
  flex-basis: 30px;
  margin-top: 10px;
}

.view-collective-posts article.collective-post main .image img{
  border-radius: 15px;
  overflow: hidden;
}

.view-collective-posts article.collective-post main .comment{
  background: #761928;
  border-radius: 10px;
  flex-grow: 1;
  padding: 10px;
}

.view-collective-posts article.collective-post footer main .comment{
  background: #350b04;
}

.view-collective-posts article.collective-post footer{
  text-align: right;
}

.view-collective-posts article.collective-post footer article{
  text-align: left;
}

.view-collective-posts details{
  border: none;
  padding: 0;
}

.view-collective-posts aside{
  padding: 0 0 0 30px;
}

.view-collective-posts aside .form-submit,
.view-collective-posts aside details summary{
  font-size: 80% !important;
  height: 3em !important;
  line-height: 3em !important;
}

.view-collective-posts aside .form-submit.active,
.view-collective-posts aside .form-submit:active,
.view-collective-posts aside .form-submit:hover{
  font-size: 80%;
  height: 3em;
  line-height: 3em;
}

.view-collective-posts aside textarea.form-textarea{
  border-radius: 0;
  border: none !important;
}

.view-collective-posts aside details{
  margin-bottom: 30px;
}

details.comment-form summary{
  border-radius: 10px;
}

details.comment-form[open] summary{
  border-radius: 10px 10px 0 0;
}

details.comment-form .form-actions{
  margin-top: 0;
}

details.comment-form .form-submit,
details.comment-form .form-submit:hover,
details.comment-form .form-submit.active{
  margin-top: 0;
  border-radius: 0 0 10px 10px !important;
}


details.comment-form .text-format-wrapper{
  margin: 0;
}

details.comment-form .filter-wrapper{
  display: none;
}

#block-inviteblock input.form-text{
  min-width: 100%;
}

form.node-collective-edit-form details summary,
form.node-collective-form details summary {
  color: #f26c55;
  padding: 9px 0 18px;
  cursor: pointer;
}

form.node-collective-edit-form details{
  display: none;
}

.view-collective-posts article.collective-post{
  position: relative;
}

.view-collective-posts article.collective-post header{
  position: absolute;
  right: 0px;
  visibility: hidden;
}

article.collective-post header a{
  padding: 0 5px;
}

.view-collective-posts article.collective-post footer details{
  visibility: hidden;
}

.view-collective-posts article.collective-post:hover > header,
.view-collective-posts article.collective-post footer details[open],
.view-collective-posts article.collective-post:hover footer details{
  visibility: visible;
}
