@charset "utf-8";

.view-id-alerts{
  margin-bottom: 50px;
}

.alert img{
  border-radius: 30px;
}

.alert{
  margin: 1em 0;
  background: #370c13;
  border-radius: 10px;
  padding: 10px;
}

.alert header {
  display: flex;
  align-items: center;
}

.alert header img,
.alert header div{
  margin: 0 0.5em 0 0;
}

.alert main{
  margin: 0 0 20px 55px;
}

.alert div.images::after,
.alert main::after{
  display: block;
  content: ".";
  height: 0;
  clear: both;
  color: transparent;
}

.alert footer{
  text-align: right;
}

.alert div.images{
  width: 100px;
  float: left;
  margin-right: 10px;
}

.alert div.images img{
  float: left;
}