@charset "utf-8";

.view-id-alerts{
  margin-bottom: 50px;
}

.alert {
  position: relative;
}

.alert main {
  display: flex;
  margin: 10px 0 0px 10px;
}

.alert .image img{
  border-radius: 30px;
}

.alert main img{
  border-radius: 5px;
  padding: 1px;
  min-width: 30px;
}

.alert main .image{
  padding: 10px 10px 0 0;
}

.alert main .comment{
  background: #370c13;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  flex-grow: 1;
}

.alert header img{
  margin: 0 5px 0 0;
}

.alert header div{
  margin: 0 0 0 5px;
}

.alert .action-unflag{
  visibility: hidden;
}

.alert:hover .flag{
  visibility: visible;
}

.alert footer{
  text-align: right;
}

.alert .action{
  margin-top: 0;
}

.alert .preview{
  display: flex;
  align-items: center;
  margin: 20px;
}

.alert .preview .profile{
  width: 100%;
}

.alert .preview div:first-child{
  min-width: 30%;
  margin-right: 20px;
}

.flag-bookmark a,
.flag-unread a,
.flag-mute a{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent !important;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.flag .ajax-progress{
  display: none;
}

.alert header{
  display: flex;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10;
}

.alert .flag,
.alert .flag-waiting{
  visibility: hidden;
}
.alert .flag:hover{
  visibility: visible;
}

.flag-mute{
  text-align: right;
}
.flag-mute a{
  margin-bottom: 10px;
}
.flag-mute.action-unflag a:hover,
.flag-mute.action-flag a{
  background-image: url('../images/mute.svg');
}
.flag-mute.action-flag a:hover,
.flag-mute.action-unflag a{
  background-image: url('../images/unmute.svg');
}

.alert .flag-unread a{
  background-image: url('../images/close.svg');
}
.flag-unread.action-flag a{
  background-image: url('../images/unread.svg');
}

.alert .flag-bookmark a{
  background-image: url('../images/unbookmark.svg');
}
.alert .flag-bookmark.action-unflag{
  visibility: visible;
}
.alert .flag-bookmark.action-unflag a{
  background-image: url('../images/bookmark.svg');
}
.alert .flag-bookmark.action-unflag a:hover{
  background-image: url('../images/unbookmark.svg');
}

.alert .links{
  display: flex;
  justify-content: flex-end;
}

.alert .links .button{
  font-size: 1em;
  padding: 0.25em 1em;
  line-height: 1.5em;
  letter-spacing: unset;
  height: auto;
}
.alert .links .button:first-child{
  background-color: #88BA1D;
  border-radius: 2em 0 0 2em;
  border-right: 1px solid #fff;
  padding-left: 10px;
}
.alert .links .button:last-child{
  border-radius: 0 2em 2em 0;
  border-left: 1px solid #fff;
  padding-right: 10px;
}
.alert .links .button:active{
  opacity: .5;
}
