@charset "utf-8";


#afrikaburn-registration-wizard #edit-existing-project .form-item{
  display: flex;
  align-items: center;
}

#afrikaburn-registration-wizard #edit-existing-project label{
  display: block;
  padding: 10px;
  width: 100%;
}

#afrikaburn-registration-wizard #edit-existing-project .form-item label:hover{
  background: #0001;
}

#afrikaburn-registration-wizard #edit-existing-project .form-item label:hover,
#afrikaburn-registration-wizard #edit-existing-project img{
  border-radius: 5px;
}

#afrikaburn-registration-wizard #edit-existing-project img,
#afrikaburn-registration-wizard .collective img{
    float: left;
  margin-right: 10px;
}

#afrikaburn-registration-wizard .collective{
  display: flex;
  align-items: center;
  margin: 1em 0;
}

#afrikaburn-registration-wizard input[type="radio"]:before,
#afrikaburn-registration-wizard input[type="radio"]:after{
  margin-top: -2px !important;
}

#afrikaburn-registration-wizard .help-image{
  padding: 20px;
  text-align: center;
}

#afrikaburn-registration-wizard .form-radios .form-item--error-message{
  display: none;
}
