.user-form .form-item{
  align-items: top;
  display: flex;
  flex-wrap: wrap;
}

.user-form .form-item *{
  flex-basis: 45%;
}

.user-form .form-item label{
  flex-basis: 100%;
}

.user-form .form-item .description{
  margin: 0 0 0 10px;
}

.user-form .form-item .description p{
  margin: 0 0 1em;
}