.js-wizard .horizontal-tabs,
.js-wizard .horizontal-tabs .horizontal-tabs-list,
.js-wizard .horizontal-tabs .horizontal-tabs-list li,
.js-wizard .horizontal-tabs .horizontal-tabs-list li a:hover{
  background: none;
  border: none;
}

.js-wizard .horizontal-tabs .horizontal-tabs-list,
.js-wizard .horizontal-tabs .horizontal-tabs-list li{
  padding: 0 15px;
  position: relative;
}

.js-wizard .horizontal-tabs .horizontal-tabs-list li.selected a{
  border: 1px solid #f26c55;
  border-radius: 10px;
}

.js-wizard .horizontal-tabs .horizontal-tabs-list li:before{
  content : ">";
  position: absolute;
  left: -5px;
  top: 5px;
}

.js-wizard .horizontal-tabs .horizontal-tabs-list li.first:before{
  content : "";
}

.js-wizard .pager{
  text-align: center;
  margin-bottom: 40px;
}

.js-wizard .wizard-actions{
  padding: 40px;
}

.js-wizard .wizard-actions:after{
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.js-wizard .wizard-actions .form-actions{
  width: 50% !important;
}

.js-wizard .wizard-actions .js-next,
.js-wizard .wizard-actions .form-actions{
  float: right;
}