.horizontal-tabs {
  border: none;
}

.horizontal-tabs .horizontal-tabs-list,
.horizontal-tabs .horizontal-tabs-list li{
  background: none;
  border: none;
  padding: 0 15px;
  position: relative;
}

.horizontal-tabs .horizontal-tabs-list li.selected a{
  border: 1px solid #f26c55;
  border-radius: 10px;
}

.horizontal-tabs .horizontal-tabs-list li:before{
  content : ">";
  position: absolute;
  left: -5px;
  top: 5px;
}

.horizontal-tabs .horizontal-tabs-list li.first:before{
  content : "";
}