.user-form .details-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.user-form .details-wrapper .pager{
  flex-basis: 100%;
}

.user-form .form-item{
  flex-basis: 100%;
  min-width: 300px;
  align-items: top;
  display: flex;
  flex-wrap: wrap;
}

.user-form .form-item *{
  flex-basis: 45%;
  min-width: 300px;
}

.user-form .form-item label{
  flex-basis: 100%;
}

.user-form .form-item .description{
  margin: 0 0 0 10px;
}

.user-form .form-item .description p{
  margin: 0 0 1em;
}

.user-form .form-item .description p:last-child{
  margin: 0;
}

.user-form .field--name-user-picture{
  flex-basis: 50%;
}