@charset "utf-8";


.messages.messages--warning{
  color: #450B05;
}

body .horizontal-tabs,
body .horizontal-tabs ul.horizontal-tabs-list{
  background: none;
  border: none;
}

body .horizontal-tabs .horizontal-tabs-list li{
  background: none;
  border: none;
  margin: 5px 0 -3px !important;
}

body .horizontal-tabs .horizontal-tabs-list li a:hover{
  background: none;
  border: none;
}

body .horizontal-tabs .horizontal-tabs-panes{
  border: 1px #999;
  border-style: solid none none;
  padding: 20px 0 0;
}

body .horizontal-tabs .horizontal-tabs-list{
  display: flex;
  flex-wrap: wrap;
}

body .horizontal-tabs .horizontal-tabs-list:after{
  content: '.';
  color: transparent;
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}

body .horizontal-tabs .horizontal-tabs-list li{
  padding: 0 5px !important;
}

body .horizontal-tabs .horizontal-tabs-list li.selected{
  border: 1px solid #999;
  border-radius: 10px 10px 0 0;
  border-bottom: 3px solid #fff;
}

body .horizontal-tabs .horizontal-tabs-list li.selected a{
  color: #333;
  text-shadow: none;
}

body .horizontal-tabs-pane{
  padding: 0;
}

body .horizontal-tabs .horizontal-tab-button {
  min-width: auto;
}

#afrikaburn-ticket-settings .form-type-checkbox{
  float: right;
  margin-top: 0;
}

.afrikaburn-ticket-settings fieldset#edit-defined{
  width: 50%;
  float: right;
  clear: none;
}

.afrikaburn-ticket-settings br{
  width: 100%;
  clear: both;
}

.afrikaburn-ticket-settings fieldset{
  width: 50%;
  float: left;
  box-sizing: border-box;
  clear: left;
  border: none;
}

.afrikaburn-ticket-settings fieldset .form-item{
  float: left;
  width: 30%;
  margin-right: 10px;
}

.afrikaburn-ticket-settings details:after{
  content: '.';
  display: block;
  clear: both;
  color: transparent;
  height: 0;
  visibility: hidden;
}

.afrikaburn-ticket-settings .text-format-wrapper{
  clear: both;
}


/* ---- Collapse ---- */


.block.collapsible h2{
  cursor: pointer;
}

.block.collapsible.collapsed .content{
  overflow: hidden;
}

#block-adminimal-theme-content .contextual-region{
  position: absolute;
  left: 10px;
  right: 10px;
}


/* ---- Pager ---- */


nav.pager .pager__items{
  display: flex;
  justify-content: center;
}

nav.pager .pager__items li{
  border: none;
  padding: 0 !important;
  margin: 0 5px !important;
}

nav.pager .pager__items li a{
  border-radius: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: block;
}

nav.pager .pager__items li.is-active a,
nav.pager .pager__items li a:hover{
  background-color: #961116;
}

nav.pager .pager__items li.pager__item--first a,
nav.pager .pager__items li.pager__item--previous a,
nav.pager .pager__items li.pager__item--next a,
nav.pager .pager__items li.pager__item--last a{
  background-size: 60px;
  background-image: url(../images/pager.svg);
  background-repeat: no-repeat;
}

nav.pager .pager__items li.pager__item--first span,
nav.pager .pager__items li.pager__item--previous span,
nav.pager .pager__items li.pager__item--next span,
nav.pager .pager__items li.pager__item--last span{
  display: none;
}

nav.pager .pager__items li.pager__item--first a{
  background-position: left top;
}
nav.pager .pager__items li.pager__item--previous a{
  background-position: left bottom;
}
nav.pager .pager__items li.pager__item--next a{
  background-position: right bottom;
}
nav.pager .pager__items li.pager__item--last a{
  background-position: right top;
}

#block-quickstart.collapsed{
  opacity: 0.5;
}

#block-quickstart img{
  width: 100px;
  padding-top: 20px;
}


/* ---- Tickets page ---- */


.path-tickets .block-system-main-block table tr td{
  vertical-align: top;
  padding: 15px;
}

.path-tickets .block-system-main-block table td:first-child{
  width: 66%;
}

.path-tickets .block-system-main-block table td h2{
  margin: 0;
}

.path-tickets .block-system-main-block table td p{
  margin-top: 0;
}

.path-tickets .block-system-main-block a.button{
  width: 100%;
}