@charset "utf-8";


.view-id-incident_type.view-display-id-top > .view-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.view-id-incident_type.view-display-id-top > .view-content > .views-row{
  flex-basis: 25%;
  text-align: center;
  margin-bottom: 50px;
}

.view-id-incident_type.view-display-id-top .views-row details{
  text-align: left;
  border: 1px solid;
  border-radius: 20px;
  margin: 0 10px;
}

.view-id-incident_type.view-display-id-top .views-row details .view{
  padding: 10px 10px 20px;
}

.view-id-incident_type.view-display-id-top .views-row details summary{
  text-align: center;
  cursor: pointer;
}

#block-loganincident{
  border: 1px solid #E6E4DF;
  border-radius: 20px;
  background: #f5f5f2;
  margin: 50px 0;
  padding: 20px;
}

#block-loganincident > details > summary{
  cursor: pointer;
}

#block-loganincident .layout-region-node-main{
  width: auto;
  float: none;
}

.wrangler-view table th.views-field-field-date-and-time a span{
  display: block;
}

.views-field-field-incident-status{
  width: 105px;
}